//@mixin Gotham($font-family, $font-file, $weight) {
//    @font-face {
//        font-family: $font-family;
//        //   src: url($font-file+'.eot');
//        src: url($font-file+'.otf') format('OpenType');
//        font-weight: $weight;
//        font-style: normal;
//    }
//}

//@mixin Roboto ($font-family, $font-file, $weight){
//    @font-face {
//        font-family: $font-family;
//        src: url($font-file+'.ttf') format('truetype');
//        font-weight: $weight;
//        font-style: normal;
//    }
//}

// Gotham Font
// @include Gotham('Gotham-Bold', '../fonts/Gotham-Font/Gotham-Bold', 700);
// @include Gotham('Gotham-Thin', '../fonts/Gotham-Font/Gotham-Thin', 100);
// @include Gotham('Gotham-ThinItalic', '../fonts/Gotham-Font/Gotham-ThinItalic', 100);
// @include Gotham('Gotham-XLight', '../fonts/Gotham-Font/Gotham-XLight', normal);
// @include Gotham('Gotham-Medium', '../fonts/Gotham-Font/Gotham-XLight', normal);
// @include Gotham('Gotham-Medium', '../fonts/Gotham-Font/Gotham-XLight', normal);

//Include Roboto Fonts
//@include Roboto('Roboto-Bolder', '../fonts/Roboto/Roboto-Bold', 900);
//@include Roboto('Roboto-Bold', '../fonts/Roboto/Roboto-Bold', 700);
//@include Roboto('Roboto-Regular', '../fonts/Roboto/Roboto-Regular', 100);
//@include Roboto('Roboto-Light', '../fonts/Roboto/Roboto-Light', 100);
//@include Roboto('Roboto-Thin', '../fonts/Roboto/Roboto-Thin', 'lighter');

//Social Button

@mixin SocialButton($textColor, $bgColor, $width, $height, $radius) {
    background: #f7f7f7;
    color: $textColor;
    border-radius: $radius;
    display: flex;
    align-items: center;
    height: $height;
    width: $width;
    outline: 0;
    font-size: 7px;
    border: none;
    line-height: 11px;
    justify-content: space-evenly;
}

@mixin backdrop($bg, $opacity, $width) {
    position: absolute;
    background: $bg;
    top: 0;
    width: $width;
    height: 100%;
    left: 0;
    right: 0;
    opacity: $opacity;
}

@mixin circleImage($width, $height, $border) {
    width: $width;
    height: $height;
    border: $border;
    border-radius: 50%;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
        // object-fit: contain;
        width: inherit;
        // display: inline;
        height: 100%;
        margin: 0 auto;
    }
}